.canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    pointer-events: none;
}

.canvas__event {
    position: absolute;
    top: 32px;
    left: 42px;
    width: 23px;
    height: 32px;
    border: 0.1rem solid green;
}